<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
         "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.z23.zclassic</string>

    <key>ProgramArguments</key>
    <array>
        <string>@Z23_BIN@</string>
        <string>-datadir=@DATADIR@</string>
        <string>-operator-lane=canonical</string>
        <string>-listen</string>
        <string>-txindex</string>
        @EXTRA_FLAGS@
    </array>

    @ENV_VARS@

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
        <key>Crashed</key>
        <true/>
    </dict>

    <key>ProcessType</key>
    <string>Background</string>

    <key>ThrottleInterval</key>
    <integer>10</integer>

    <key>StandardOutPath</key>
    <string>@DATADIR@/z23.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>@DATADIR@/z23.stderr.log</string>

    <key>WorkingDirectory</key>
    <string>@DATADIR@</string>

    <key>Nice</key>
    <integer>0</integer>

    <key>LowPriorityIO</key>
    <false/>
</dict>
</plist>
